@import"./header.css";
@import"./hero.css";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
color: rgb(246, 248, 250);
background-color: rgb(14, 13, 13);
}

main {
    padding-inline: 64px;
    display:grid;
    gap: 64px;
    margin: 64px 0;
}

/** styler ALLE seksjoner på siden */

section/{
    border: 2px solid black;
    background-color: rgb(27, 76, 124);
}

section:last-of-type{
    margin-bottom: 64px;
}


